body {
  font-family: 'Monoid', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: 
  background-size: cover;
  color: #333333;
}

#main {
  width: 100%;
  height:100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#fw-container {
  margin-bottom: 20px;
  max-width: 600px;
}

#fw {
  font-size: 24px;
  margin-bottom: 10px;
  align-items: center;
  max-width: 600px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.button {
  padding: 10px 15px;
  background-color: #00aaaa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0055aa;
}

#controls {
  justify-content: center;
  margin-top: 20px;
}

#controls.show {
  display: flex;
}

.hide {
  display: none;
}

.fw-image {
  object-fit: contain;
}

#map{
  display: block;
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #6488FF;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #6488FF; 
  cursor: pointer;
}

#popup {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Monoid', sans-serif;
}
